{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">✏️ Editar Aeronave</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label fw-bold">Código aeronave</label>
                <input name="codigo" type="text" class="form-control" value="{{ aeronave.codigo }}" required>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Modelo</label>
                <input name="modelo" type="text" class="form-control" value="{{ aeronave.modelo }}" required>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Capacidad (kg)</label>
                <input name="capacidad_kg" type="number" class="form-control" value="{{ aeronave.capacidad_kg }}" required>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'aeronaves_list' %}" class="btn btn-secondary">← Volver</a>
                <div class="d-flex gap-2">
                    <a href="{% url 'aeronaves_eliminar' aeronave.id %}" class="btn btn-danger">Eliminar</a>
                    <button type="submit" class="btn btn-dark">Guardar Cambios</button>
                </div>
            </div>

        </form>

    </div>
</div>

{% endblock %}
