{% extends "base.html" %}

{% block content %}

<h2 class="mb-4 text-danger fw-bold">⚠️ Eliminar Piloto</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <p class="fs-5">
            ¿Seguro que deseas eliminar al piloto
            <strong>{{ piloto.nombre }} {{ piloto.apellido }}</strong>?
        </p>

        <p class="text-muted">
            Esta acción no podrá revertirse.
        </p>

        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="d-flex justify-content-between">
                <a href="{% url 'pilotos_list' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Eliminar definitivamente</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}
