{% extends "base.html" %}

{% block content %}

<h2 class="mb-4 text-danger fw-bold">⚠️ Eliminar Conductor</h2>

<div class="card shadow-sm">
    <div class="card-body">

        <p class="fs-5">
            ¿Estás seguro que deseas eliminar al conductor
            <strong>Juan Pérez</strong>?
        </p>

        <p class="text-muted">
            Esta acción no podrá deshacerse.
        </p>

        <div class="d-flex justify-content-between mt-4">
            <a href="/site/conductores" class="btn btn-secondary">Cancelar</a>
            <button class="btn btn-danger">Eliminar definitivamente</button>
        </div>

    </div>
</div>

{% endblock %}
