{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Despachos</h2>

<table class="table table-striped table-bordered shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Código</th>
            <th>Fecha</th>
            <th>Ruta</th>
            <th>Carga</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for d in despachos %}
        <tr>
            <td>{{ d.codigo }}</td>
            <td>{{ d.fecha }}</td>
            <td>{{ d.ruta }}</td>
            <td>{{ d.carga }}</td>
            <td>{{ d.estado }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
